@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}

@layer components {
  
  .custom-flex-row {
    display: flex;
    flex-direction: row;
  }

  .custom-flex-col {
    display: flex;
    flex-direction: column;
  }
}
